@import "../../scss/helpers";
@import "../../../../node_modules/fullcalendar/dist/fullcalendar";

.widget > header h4 {
  font-size: 14px;
}

.fc-body {
  .fc-widget-content {
    .fc-scroller {
      overflow-y: hidden !important;
    }
  }
}

.fc-event {
  padding: 2px 3px;
  border: none;
  font-weight: $font-weight-normal;
  background-color: $gray-light;
  color: $gray-700;
}

a:not([href]):not([tabindex]) {
  color: $gray-700;
  text-decoration: none;
}

.fc-today{
  background-color: #88918e !important;
  border-left-color: rgb(221, 221, 221);
  border-top-color: rgb(221, 221, 221);
}

a.fc-event{
  height: auto;
  line-height: $line-height-base;
}

.full-calendar{
  margin-top: 10px;
}

.calendar-controls{
  .btn{
    font-size: $font-size-mini;
  }
}

.calendar-external-events{
  margin-top: 20px;

  .external-event{
    margin: 10px 0;
    padding: 6px;
    font-size: $font-size-mini;
    cursor: pointer;
    border-radius: .25rem;
    background-color: $white;
    border: 1px solid #bbb;
  }
}

.widget-calendar{
  @include media-breakpoint-up(xl){
    margin-top: -100px;
  }
}

.fc-grid th{
  text-transform: uppercase;
}

a.fc-event{
  height: auto;
  line-height: 20px;
}

.fc-event, .fc-event:hover, .ui-widget .fc-event{
  color: $gray-700;
}

.fc-unthemed .fc-today{
  background-color: rgba(#fff1b8, .35);
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover{
  border-color: $calendar-border;
}

