<h2 class="page-title">Media - <span class="fw-semi-bold">Gallery</span>
  <small>Images, videos and more</small>
</h2>
<div class="row">
  <div class="col-md-10">
    <section widget class="widget gallery-widget">
      <header>
        <h4>
          <i class="fa fa-star"></i>
          Grid of images, videos, text, and more
        </h4>
      </header>
      <div class="body">
        <div id="grid" class="row thumbnails">
          <div class="col-sm-6">
            <a href="assets/img/5.jpg">
              <img src="assets/img/5.jpg" class="img-thumbnail" alt="">
            </a>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-8">
                <a href="assets/img/9.jpg">
                  <img src="assets/img/9.jpg" class="img-thumbnail" alt="">
                </a>
              </div>
              <div class="col-sm-4">
                <a href="assets/img/6.jpg">
                  <img src="assets/img/6.jpg" class="img-thumbnail" alt="">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <a href="assets/img/8.jpg">
                  <img src="assets/img/8.jpg" class="img-thumbnail" alt="">
                </a>
              </div>
              <div class="col-sm-4">
                <a href="assets/img/7.jpg">
                  <img src="assets/img/7.jpg" class="img-thumbnail">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <ul class="row thumbnails">
      <li class="col-sm-4">
        <div class="card">
          <img src="assets/img/10.jpg" class="card-img-top" alt="">

          <div class="card-body">
            <h4 class="card-title">Card label</h4>
            <p class="card-text"><strong>You will never know exactly how something will go until you try it.</strong> You can think three
              hundred times and still have no precise result...
            </p>
            <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
          </div>
        </div>
      </li>
      <li class="col-sm-4">
        <div class="card">
          <img src="assets/img/12.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Card label</h4>
            <p class="card-text">You don’t
              need to think about HOW it can turn out. All you have to do is to GO and DO IT. It
              should be super-fast and easy. You don’t
              need to think about.
            </p>
            <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
          </div>
        </div>
      </li>
      <li class="col-sm-4">
        <div class="card">
          <img src="assets/img/11.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Card label</h4>
            <p class="card-text">No hesitation. You ask me: “What to do with
              fearful thoughts preventing me from doing that?” The answer is to ignore them, because
              they can’t
            </p>
            <p><a href="#" class="btn btn-danger">Favorite</a> <a href="#" class="btn btn-inverse">Read more...</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
