@import "../../scss/helpers";

/***********************************/
/**            INVOICE            **/
/***********************************/

.invoice-logo{
  width: 253px;
  height: 70px;
}

.invoice-number{
  font-size: $font-size-base * 1.5;
  margin-top: 15px;
}

.invoice-number-info{
  color: $text-muted;
  font-size: $font-size-larger;
}

.invoice-info{
  .details-title{
    color: $text-muted;
    margin: 0;
  }
}

.invoice-actions{
  margin-top: $spacer;
}

.client-details{
  text-align: right;
}
