<div class="alert alert-warning alert-sm float-right m-0 animated bounceInLeft hide" id="app-alert">
  <button type="button" class="ml-lg close" data-dismiss="alert" aria-hidden="true">×</button>
  Hey! This is a <span class="fw-semi-bold">real app</span> with CRUD and Search functions. Have fun!
</div>
<h2 class="page-title">Inbox
  <small>Ready-to-use client-side application</small>
</h2>
<div class="row">
  <div class="col-lg-3 col-xl-2 col-12">
    <button class="btn btn-danger btn-block" id="compose-btn" (click)="handleComposeBtn()">Compose</button>
    <ul class="nav nav-pills nav-stacked nav-email-folders mt flex-column" id="folders-list">
      <li class="nav-item active">
        <a class="nav-link" (click)="setFolderName('Inbox')">
          Inbox
        </a>
      </li>
      <li class="nav-item"><a class="nav-link" (click)="setFolderName('Sent Mail')">Sent</a></li>
      <li class="nav-item">
        <a class="nav-link" (click)="setFolderName('Draft')">
          Drafts
        </a>
      </li>
      <li class="nav-item"><a class="nav-link" (click)="setFolderName('Starred')">Starred</a></li>
    </ul>
    <h5 class="mt">QUICK VIEW</h5>
    <ul class="nav nav-pills nav-stacked nav-email-folders mb-lg flex-column">
      <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-circle text-danger float-right"></i> Work </a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-circle text-white float-right"></i> Private </a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-circle text-gray-light float-right"></i> Saved </a></li>
    </ul>
  </div>
  <div *ngIf="mailListShow" mail-list [folderName]="currentFolderName" (replyMail)="onReplyMail($event)" class="col-lg-9 col-xl-10 col-12"></div>
  <div *ngIf="mailFormShow" mail-form (backToMailList)="changeEmailComponents('mailList')" [message]="repliedMessage" class="col-lg-9 col-xl-10 col-12"></div>
  <div *ngIf="mailDetailShow" mail-detail [mail]="currentMail" (replyMessage)="handleComposeBtn($event)" (backToMailList)="changeEmailComponents('mailList')" class="col-lg-9 col-xl-10 col-12"></div>
</div>
