@import "../../scss/helpers";

/* Using [component name] on selectors, when --ViewEncapsulation-- is None */

div[icons] {
  .nav-tabs {
    .nav-link.active {
      color: $text-color;
      cursor: default;

      &:hover, &:focus {
        border-color: transparent;
        color: $text-color;
        background-color: rgba(51, 51, 51, 0.4);
      }
    }

    .nav-link:not(.active) {
      &:hover {
        background: rgba(26, 26, 26, 0.4);
      }
    }
  }

  .badge, .label {
    padding: 1px 4px;
  }
}

/***********************************/
/**           ICON LIST           **/
/***********************************/

div[icons] {
  h3 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .icon-list{
    margin-top: $spacer;
  }

  .icon-list-item{
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    > a{
      color: $text-color;
      text-decoration: none;
    }


    .glyphicon,
    .fa{
      width: 32px;
      margin-right: 10px;
    }

    .glyphicon {
      top: 10px;
    }

    &:hover{
      .glyphicon,
      .fa{
        font-size: 28px;
        top: 2px;
      }

      .fa{
        vertical-align: -5px;
      }

      .glyphicon{
        vertical-align: -6px;
      }
    }
  }
}
