@import "../../../../node_modules/bootstrap-select/sass/bootstrap-select";

#basic,
#location {
  height: 100%;

  agm-map {
    height: 100%
  }
}

#vector-world,
#vector-europe,
#vector-usa,
#vector-australia {
  display: block;
  height: 100%;
  width: 100%;
}
.form-control {
  width: inherit;
}

.widget .actions {
  top: -3px;
}
